
h1 { 
  color: white;
  text-align: center;
  margin: 10px;
}

p {
  color: white;
  text-align: center; 
  margin: 5px 10px;
 
}

.sobreimg {
    border-radius: 50%;
    background-image: url("https://i.ibb.co/M9Z690R/3b97e673173f9adfaf1ac6dd740e78be.png");
}

h2 {
  text-align: center; 
  
}

.banner{
  position:absolute;
  text-align: center;
  left:0;
  right:0;
  top:30vh;
  font-size: 50px;
  text-transform:none;
  text-transform:uppercase;
  text-shadow: 3px 3px 8px rgba(0,0,0,0.77);
}

h3 {
  position:absolute;
  text-align: center;
  left:0;
  right:0;
  top:37vh;
  font-size: 20px;
}

body {
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  background:#000;
  overflow-x: hidden;
}

.box {
  display: flex;
  padding: 5vh;
   
}

.img1 {
  border-radius: 50%;
  justify-content: center;
  display:flex;
  margin:0 5vh;
}

.overflow {
    overflow: hidden
}

.parallax {
  background-image: url("https://i.ibb.co/RY55S4n/business-computer-connection-1054397-min.jpg");
  min-height: 650px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0px -116px 21px -86px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px -116px 21px -86px rgba(0,0,0,1);
  box-shadow: inset 0px -116px 21px -86px rgba(0,0,0,1);

}

.fundobranco {
  text-align: center;
  background-color: white;
  color: black;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.51);
  padding:7vh 100vh;
  -webkit-box-shadow: 0px 0px 37px 0px rgba(255,255,255,0.28);
-moz-box-shadow: 0px 0px 37px 0px rgba(255,255,255,0.28);
box-shadow: 0px 0px 37px 0px rgba(255,255,255,0.28);
}

h4 {
  position:absolute;
  text-align: center;
  left:0;
  right:0;
  margin: -0.5em;    
  font-size: 30px;

}

.espaco {
  background-color: transparent;
  padding: 4vh 90vh;
}
.espaco1 {
  background-color: transparent;
  padding: 1vh 90vh;
}
.espaco2 {
  background-color: transparent;
  padding: 2vh 90vh;
}
.img-habilidade{
  justify-content: center;
  padding: 15px;
  display:flex;
}

.sobremim {
    
  margin: 10px;
  padding: 10px;
}
